

body .container{
	font-family: 'calibri';
	font-size: 16px;
	color: #000;
}

body .sidebar{
	font-weight: normal;
	font-size: 15px;
	font-weight: bold;
}
.sidebar p, .sidebar span, .sidebar li {
	font-size: 15px;
}
#index .top{
/*	min-height: 60px;*/
}
.head h3{
	font-size: 30px;
	margin-top: 70px;
}
.top{
	min-height: 40px;
    padding: 5px;
}
.o-l{
	/*outline: 1px solid #ebebeb;*/
}

.bx{
	background-color: #00CED1;
	border-radius: 10px;
	box-shadow: inset 0 0 10px #ebebeb;
	    padding: 0 25px;
}
.ul-btns{
	list-style: none;
}
.ul-btns li{
display: inline-block;
    padding: 10px;
    margin: 5px 15px;
    width: 272px;
    background-color: #D3D3D3;
    box-shadow: inset 0 0 10px #333;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.ul-btns{
	margin-top: 50px;
}
.ul-btns a{
	color:#000;
}
.spc{
	height: 135px;
	clear: both;
}
.col-md-4 > div:nth-child(1){
	padding: 23px 20px;
}
a{color: #000;}
p,span,li{
	font-size: 18px;
	line-height: 19px;
}
.col-md-12 > h3:nth-child(1){
	text-align: center;
}
div.bx:nth-child(2){
	margin-top: 16px;
	padding: 21px 0px;
}
div.bx:nth-child(2) > ul:nth-child(1) li{
display: inline-block;
padding: 10px;
margin: 5px 20px;
width: 285px;
background-color: #D3D3D3;
box-shadow: inset 0 0 10px #333;
border-radius: 3px;
font-size: 20px;
text-align: center;
font-weight: bold;	
}
.col-md-12 > p:nth-child(1){
	margin-top: 42px;
}
.cw{
	color:#fff;
}
.mb-form{
	margin-top: 40px;
	list-style: none;
}
.mb-form li{
	text-align: center;
}
.mb-form li span{
	display: block;
	margin: 5px;
}
.clearfix{
	clear: both;
}
.bott{
margin: 5px 14px;
margin-bottom: 48px;
}
div.col-md-8:nth-child(2){
	margin-bottom: 30px;
}
.submit{text-align: center;}
.submit input{
	height: 34px;
	font-size: 18px;
	border-radius: 0px;
	padding: 0px 20px;
	border: 1px solid rgb(235, 235, 235);
	text-transform: uppercase;
}

#p-o .col-md-12 > p:nth-child(1){
	margin-top: 90px;
}
#p-o .bott{
	margin: 5px 14px 89px;
}
#v-s .col-md-12 > p:nth-child(1){
	margin-top: 45px;
}
#v-s .bott{
	margin: 5px 14px 65px;
}
#c-i .col-md-12 > p:nth-child(1){
	margin-top: 25px;
}
#c-i .bott{
	margin: 5px 14px 49px;
}
#w-t-p .col-md-12 > p:nth-child(1){
	margin-top: 15px;
}
#w-t-p .bott{
	margin: 5px 14px 20px;
}

#w-t-p div.col-md-8:nth-child(2) {
    margin-bottom: 10px;
}
#w-t-p .mb-form{
	margin-top: 10px;
}

#b-c div.col-md-8:nth-child(2) {
    margin-bottom: 10px;
}
#b-c .mb-form{
	margin-top: 10px;
}
#b-c p.cw:nth-child(8),#b-c p.cw:nth-child(7),#b-c p.cw:nth-child(10){
	margin-bottom: 0;
}

#reb .col-md-12 > p:nth-child(1){
	margin-top: 15px;
}
#reb .bott{
	margin: 5px 14px 20px;
}

#reb .mb-form{
	margin-top: 32px;
}

#b-f .bott{
	margin: 5px 14px 20px;
}

#b-f .mb-form{
	margin-top: 0px;
}
#b-f p.cw:nth-child(7),#b-f p.cw:nth-child(8){
	margin-bottom: 5px;
}
#b-f div.col-md-8:nth-child(2){
	margin-bottom: 8px;
}

#v-n-r .bott{
	margin: 5px 14px 20px;
}

#v-n-r .mb-form{
	margin-top: 0px;
}

#e-r .bott{
	margin: 5px 14px 101px;
}

#e-r .mb-form{
	margin-top: 0px;
}
#e-r .col-md-12 > p:nth-child(1){
	margin-top: 80px;
}
#tas .mb-form{
	margin-top: 0px;
}
#tas .col-md-12 > p:nth-child(1){
	margin-top: 42px;
}
.mb-list{
	list-style: none;
    margin: 0;
    padding: 0;
}
div.img{
	    margin: 15px;
}

.mb-list.cs li{
     margin-top: 20px;
}

.return-home{
	background-color: #ebebeb;
    float: right;
    margin-top: -6px;
}
.mlink{
	    color: blue;
    margin: 0 3px;
}

.ul-btns a{
	font-family: 'arial';
	font-size: 25px;
	font-weight: normal;
}
body .container .main-bx li,body .container .main-bx p{
	font-size: 16px;
    line-height: 22px;
    font-family: 'arial';
}
.btn{
    display: inline-block;
    margin: 5px 20px;
    width: 285px;
    background-color: #D3D3D3;
    box-shadow: inset 0 0 10px #333;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;	
}
.btn.sm{
	display: inline;
    padding: 5px 28px;
}
.bottom-r{
	text-align: center;
}

.container select,.container option{
    padding: 2px 10px;
    font-weight: bold;
}